    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Comic News</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="public/css/bootstrap.min.css" />

    </head>
    <body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
        <div class="containter">
            <a class="navbar-brand" href="#">Comic News</a>
        </div>
            <button class="btn btn-outline-success my-2 my-sm-0" id="btnCadastrarNoticia">Colaborar com uma notícia</button>
        </nav>
    </header>
    <h1 align="center">PRINCIPAIS NOTÍCIAS</h1>
    </br>
    <div class="Noticias">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="#"><img src="" class="imagem" width="200" height="150"></a>
                            <h5 class="card-title">Título da notícia</h5>
                            <p class="card-text">Descrição da notícia</p>
                        </div>
                    </div>
                    </br>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="#"><img src="" class="imagem" width="200" height="150"></a>
                            <h5 class="card-title">Título da notícia</h5>
                            <p class="card-text">Descrição da notícia</p>
                        </div>
                    </div>
                    </br>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="#"><img src="" class="imagem" width="200" height="150"></a>
                            <h5 class="card-title">Título da notícia</h5>
                            <p class="card-text">Descrição da notícia</p>
                        </div>
                    </div>
                    </br>
                </div>
            </div>
        </div>
    </div>

    </body>
    <script src="public/js/jquery.js"></script>
    <script src="public/js/index.js"></script>
    </html>
